
html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-size: $regular-size;
  font-family: 'Quicksand', sans-serif;
  color: $blackio;
}

a,
.link {
  color: $accent;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0.4rem 0;
  line-height: initial;
  font-size: $medium-size;
  color: $grey;
}

ul {
  padding: 0;
}

input,
button,
select {
  outline: 0;
}

.space {
  background-color: $clear;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  padding: 1.6rem;
  justify-content: space-between;
  width: 100%;
  max-width: 86rem;
  flex-wrap: wrap;

  &.in {
    max-width: 100%;
  }
}

.row {
  display: flex;
  margin: auto 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow-wrap: break-word;

  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.right {
    justify-content: flex-end;
  }

  &.md {
    width: 48%;

    @include mobile(680px) {
      width: 100%;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: auto;
  width: 100%;
  overflow-wrap: break-word;
}

button {
  border: 0.1rem $clear transparent;
  border-radius: 0.4rem;
  background-color: $primary;
  color: $clear;
  padding: 0.8rem;

  &:hover {
    background-color: $primary-hover;
    cursor: pointer;
  }

  &:active {
    border: 0.1rem $clear solid;
  }

  &.large {
    padding: 1rem 0;
    width: 100%;
  }
}

@mixin mobile($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}